<div class="footerfill">
</div>
<div class="footer">
    <div class="contact">
        <label>Hans Fernández Murillo</label>
        <a href = "mailto: hansf2210@outlook.com">hansf2210@outlook.com</a>
        <label style="margin-top: 15px;">Costa Rica, Remote</label>
    </div>
    <div class="social">
        <a href="https://www.linkedin.com/in/hans-fernandez-murillo-828677266/"><img class="social-icon" src="{{'/assets/images/li_icon.png' || relative_url}}"></a>
        <a href="https://github.com/hansfdev"><img class="social-icon" src="{{'/assets/images/github-mark-white.png' || relative_url}}"></a>
    </div>
</div>