html, body {
  font-family: 'Archivo';
  font-size: 100%;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;
  color: papayawhip;
}

html{
  min-height: 100vh;
}

body{
  background: linear-gradient(#456169 , #35374B );
  background-attachment: fixed;
  min-height: 100vh;
}

img,
picture,
video {
  max-width: 100%;
}


@font-face{
  font-family: "Archivo", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
}

@keyframes grow {
  0% {
    font-weight: 200;
  }
  100% {
    font-weight: 700;
  }
}

h1{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h2{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
label{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1em;
  font-variation-settings:
    "wdth" 100;
}
p{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2em;
  font-variation-settings:
    "wdth" 100;
}
li{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2em;
  font-variation-settings:
  "wdth" 100;
}

.maincontent{
  padding: 20px;
}

.projectviewer{
  margin: 0 auto;
}

.projectviewer ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.projectviewer ul li{
  background-color: rgb(41, 41, 41);
  text-decoration: none;
  min-width: 256px;
  min-height: 256px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(31, 31, 31);
}

.projectcontainer{
  width: 256px;
  height: 256px;
  position: relative;
}

.projectimage{
  width: 256px;
  height: 256px;
}

.projectpreview{
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.projectpreview:hover{
  opacity: 1;
}


.current {
  color: rgb(83, 167, 236);
}

.navbar {
  background-color: #344955;
}

.introduction {
  display: flex;
  padding: 5px 10px 5px 10px;
  color: papayawhip;
}

.introduction span{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.introduction h1{
  font-weight: 500;
}

.vl {
  border-left: 3px solid papayawhip;
  margin: 0px 10px 0px 10px;
}

nav {
  background-color: #35374B;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

nav a {
  display:inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 2px 10px 2px;
  margin: 0px 0px 0px 0px;
  min-width: 60px;
}

nav a:hover {
  color: rgb(38, 209, 240);
  animation: grow 1s linear alternate infinite;
}

nav a:active {
  color: rgb(29, 155, 177);
}

.maincontent a {
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.footer a {
  font-weight: 200;
  color: rgb(29, 155, 177);
}

.footer a:hover {
  color: rgb(38, 209, 240);
}

.footer a:active {
  color: rgb(29, 155, 177);
}

.maincontent a:hover {
  color: rgb(38, 209, 240);
  animation: grow 1s linear alternate infinite;
}

.maincontent a:active {
  color: rgb(29, 155, 177);
}

.project_bg {
  max-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  padding: 20px;
}


.project_description {
  min-height: calc(100vh - 550px);
  background-color: #35374b;
  padding: 20px;
  align-self: center;
}

.project_description p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.project_description ul {
  margin: auto;
  max-width: fit-content;
  text-align: left;
}

.project_description h2 {
  padding: 20px;
  text-align: center;
}

.project_description p img{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  min-width: 400px;
}

.project_description video {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.footerfill {
  flex: 1;
}

.footer {
  background-color: #252735;
  display: flex;
  width: 100%;
  height: 90px;
}

.footer .contact{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0px 20px 0px 20px;
}

.footer .social{
  display: flex;
  align-items: center;
  justify-content: right;
  flex-grow: 3;
  background-color: #1c1d27;
  padding-right: 20px;
}

.social-icon{
  width: 32px;
  height: 32px;
  padding: 10px;
}

@media (min-width: 1200px) {
  nav{
    text-align: left;
  }
  .project_description p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 70%;
    text-align: left;
  }
}