html, body {
  font-family: 'Archivo';
  font-size: 100%;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  padding: 0;
  color: papayawhip;
}

body{
  background: linear-gradient(rgb(26, 56, 104), rgb(0, 0, 0));
  background-attachment: fixed;
  height: 100%;
}

img,
picture,
video {
  max-width: 100%;
}


@font-face{
  font-family: "Archivo", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");
}

@keyframes grow {
  0% {
    font-weight: 200;
  }
  100% {
    font-weight: 700;
  }
}

h1{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
label{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.1em;
  font-variation-settings:
    "wdth" 100;
}
p{
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2em;
  font-variation-settings:
    "wdth" 100;
}

.maincontent{
  padding-left: 20px;
  padding-right: 20px;
}

.projectviewer{
  margin: 0 auto;
}

.projectviewer ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.projectviewer ul li{
  background-color: blue;
  text-decoration: none;
  min-width: 256px;
  min-height: 256px;
  margin: 5px;
  padding: 5px;
}

.projectcontainer{
  width: 256px;
  height: 256px;
  position: relative;
}

.projectimage{
  width: 256px;
  height: 256px;
}

.projectpreview{
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.projectpreview:hover{
  opacity: 1;
}


.current {
  color: rgb(83, 167, 236);
}

.navbar {
  background-color: rgb(58, 82, 121);
}

.introduction {
  display: flex;
  padding: 5px 10px 5px 10px;
  color: papayawhip;
}

.introduction span{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.vl {
  border-left: 3px solid papayawhip;
  margin: 0px 5px 0px 5px;
}

nav {
  background-color: rgb(30, 64, 119);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

nav a {
  display:inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 2px 10px 2px;
  margin: 0px 0px 0px 0px;
  min-width: 60px;
}

nav a:hover {
  color: rgb(38, 209, 240);
  animation: grow 1s linear alternate infinite;
}

nav a:active {
  color: rgb(29, 155, 177);
}

a {
  font-weight: 200;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(38, 209, 240);
  animation: grow 1s linear alternate infinite;
}

a:active {
  color: rgb(29, 155, 177);
}

.project_bg {
  max-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  padding: 20px;
}


.project_description {
  max-width: 100%;
  min-height: calc(100vh - 550px);
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

.project_description p {
  margin: 0;
}

@media (min-width: 1200px) {
  nav{
    text-align: left;
  }
}